certifi
charset-normalizer
Cython
faster-fifo
idna
orjson
numpy
pandas
platformdirs
protobuf
python-dateutil
pytz
requests
scipy
six
types-requests
typing_extensions
tzdata
urllib3
whylabs-client
whylogs
whylogs-sketching
